language: generic
sudo: required
services:
  - docker
before_install:
  - docker build -t moezthemaster/docker-react -f Dockerfile.dev .
script:
  - docker run -e CI=true moezthemaster/docker-react npm run test -- --coverage